:root {
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(75, 85, 99);
  --dark-background-color: rgb(15, 23, 42);
  --dark-text-color: rgb(255, 255, 255);

  --success-color: #059669FF;
  --info-color: #2563EBFF;
  --warning-color: #D97706FF;
  --error-color: #DC2626FF;

  --success-color-light: #70C9A1FF;
  --info-color-light: #609AE5FF;
  --warning-color-light: #ECA343FF;
  --error-color-light: #EC6A6AFF;
}
