@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

$colors: (
    success: 'rgba(5, 150, 105)',
    info:  'rgba(37, 99, 235)',
    warning: 'rgba(217, 119, 6)',
    error: 'rgba(220, 38, 38)',
);

$types: (
    success: 'green',
    info: 'blue',
    warning: 'yellow',
    error: 'red',
);

$icons: (
    success: 'M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z',
    info: 'M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z',
    warning: 'M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z',
    error: 'M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z',
);

.fl-container {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;

    @apply mt-2 bg-white shadow-lg border-l-8 rounded-md rounded-r-none cursor-pointer overflow-hidden shadow-lg;

    .fl-content {
        @apply flex items-center py-1;
    }

    .fl-icon {
        @apply inline-block w-10 h-10 mx-2 text-sm rounded-full bg-no-repeat bg-cover bg-center flex-shrink-0;
    }

    .fl-title {
        @apply block ml-2 text-base leading-5 font-medium capitalize;
    }

    .fl-message {
        @apply block ml-2 mt-1 text-sm leading-5 text-gray-500;
    }

    .fl-progress-bar {
        @apply h-0.5 flex;
    }
}

@each $type, $color in $types {
    .fl-container-#{$type} {
        @apply border-#{$color}-600;

        .fl-icon {
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="#{map-get($colors, $type)}"><path fill-rule="evenodd" d="#{map-get($icons, $type)}" clip-rule="evenodd" /></svg>');
        }

        .fl-title {
            @apply text-#{$color}-600;
        }

        .fl-progress-bar {
            @apply bg-#{$color}-100;

            .fl-progress {
                @apply bg-#{$color}-600;
            }
        }
    }
}
